.home-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.home-card {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 33.33%;
  color: white;
  text-decoration: none;
  background-size: cover;
  background-position: center;
  border: 1px solid #00afdb;
}

.home-card h2 {
  font-weight: bold;
  font-size: 1rem;
  background-color: #00afdb;
  padding: 1rem;
  border-radius: 5px;
}
